.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  // position: relative;
  width: 100%;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  top: 0;
  z-index: 1000000000000000000;
  max-height: 100px;

  .logo {
    width: 150px;
    height: 70px;
  }

  .menu {
    display: flex;
    justify-content: space-around;
    margin-right: 1vw;

    .menu_appear {
      width: max-content;
      display: flex;
      justify-content: space-between;
    }

    .menu_res_appear {
      display: block !important;
      position: absolute;
      bottom: -220px;
      width: 100vw;
      background-color: white;
      left: 0;
      flex-direction: column !important;
      height: 220px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      animation: appear 0.5s ease;

      & > span {
        display: block;
        margin-bottom: 10px;
      }
    }

    @keyframes appear {
      0% {
        height: 0%;
      }
      100% {
        height: max-content !important;
      }
    }

    .line_under_header {
      position: absolute;
      top: calc(100% + 7px);
      left: 50%;
      transform: translateX(-50%);
      width: 0%;
      height: 3px;
      background: linear-gradient(to right bottom, green, blue);
    }
    .div_span {
      margin-block: 10px;
    }

    span {
      margin-inline: 20px;
      font-weight: 500;
      font-size: 17px;
      position: relative;
      cursor: pointer;
      transition: all 0.25s ease;

      &:hover {
        color: var(--primary-color);
      }

      &:hover .sub_menu {
        transition: all 0.25s ease;
        height: max-content;
        background-color: white !important;
        opacity: 1;
      }

      &:hover + .line_under_header {
        width: 99%;
        transition: all 0.25s linear;
      }
    }
    .sub_menu {
      position: absolute;
      top: 37px;
      display: flex;
      flex-direction: column;
      padding-block: 10px;
      font-weight: normal;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      height: 0%;
      opacity: 0;
      width: max-content;
      background-color: transparent;
      overflow: hidden;
      border-radius: 15px;

      span {
        margin-top: 7px;
        color: black !important;

        &:hover {
          color: var(--primary-color) !important;
        }
      }
    }
  }
  .appointment button {
    padding: 10px 15px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 30px;
    border: unset;
    font-weight: bold;

    &:hover {
      background-color: blueviolet;
      transition: all 0.25s ease;
    }
  }

  .active_menu {
    color: var(--primary-color) !important;
  }

  .menu-disappear {
    display: none !important;
    position: absolute;
  }

  .menu_response {
    padding: 10px;
    font-size: 25px;
    border-radius: 5px;
    background-color: rgb(245, 233, 233);
    cursor: pointer;

    &:hover {
      background-color: var(--primary-color);
      transition: all 0.25s ease;
    }
  }

  .user {
    margin-right: 1em;
    align-items: center;

    &-logo {
      position: relative;
      padding: 10px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
    }

    &-dropdown {
      text-align: center;
      width: max-content;
      position: absolute;
      top: 100%;
      left: -5px;
      padding-inline: 10px;
      list-style-type: none;
      background-color: #fff;
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
      opacity: 0;
      transition: all 0.25s;
      border-radius: 10px;
      z-index: -1;

      li {
        display: block;
        padding: 5px !important;
        margin-left: -0px !important;
        transition: all 0.25s;
        &:hover {
          background-color: burlywood;
          border-radius: 10px;
        }
      }
    }

    .cart {
      padding: 10px 13px;
      align-items: center;
      border-radius: 50%;
      background-color: rgb(214, 209, 209);
      color: blueviolet;

      &:hover{
        background-color: #6aaff3;
        transition: 0.25s;
      }
    }

    &:hover .user-dropdown {
      opacity: 1;
      z-index: -1;
    }
  }
}
